

.closeIcon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: -1px;
  margin-top: -1px;
  transform: rotateZ(45deg);
  position: relative;
}

.closeIcon:before,
.closeIcon:after {
  content: '';
  position: absolute;
  background: rgb(10, 10, 10);
}

.closeIcon:before {
  height: 100%;
  width: 3px;
  left: 50%;
  transform: translateX(-50%);
}

.closeIcon:after {
  height: 3px;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}