.window {
    position: absolute;
    padding: 4px;
    font-size: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(223, 223, 223) rgb(10, 10, 10) rgb(10, 10, 10)
        rgb(223, 223, 223);
    box-shadow:
        rgba(0, 0, 0, 0.35) 4px 4px 10px 0,
        rgb(254, 254, 254) 1px 1px 0 1px inset,
        rgb(132, 133, 132) -1px -1px 0 1px inset;
    display: flex;
    flex-direction: column;
    background: rgb(198, 198, 198);
    color: rgb(10, 10, 10);
    width: max-content;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    height: 37px;
    padding-left: 0.25rem;
    padding-right: 3px;
    border: 2px solid rgb(198, 198, 198);
    background: var(--semantic-color-interaction-primary);
}

.title {
    color: rgb(254, 254, 254);
    font-weight: bold;
    font-size: 1rem;
    line-height: 33px;
    cursor: default;
    user-select: none;
}

.header .closeButton {
    padding-left: 0;
    padding-right: 0;
    width: 31px;
    height: 27px;
}

.content {
    padding: 3px 2px 2px;
}