.container {
  position: relative;
  grid-area: filters;
  min-height: var(--padding-top);
  display: grid;
  gap: var(--a-spacing-3);
  margin-bottom: var(--a-spacing-6);
  grid-template-rows: min-content 1fr;
}

@media (max-width: 479px) {
  .container {
    padding-left: var(--a-spacing-3);
    padding-right: var(--a-spacing-3);
  }
}

.filters {
  display: flex;
  gap: var(--a-spacing-8);
}

.filters > * {
  min-height: 80px;
}

.filter {
  flex: unset;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .filters {
    flex-direction: column;
    gap: var(--a-spacing-4);
  }
}
