*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --color-grey-200: rgb(198, 198, 198);
  --color-grey-300: rgb(181, 181, 181);
  --color-grey-600: rgb(132, 132, 132);
  --color-grey-700: rgb(96, 96, 96);
  --color-grey-800: rgb(73, 73, 73);
  --color-grey-900: rgb(32, 32, 32);
  --background-color: var(--color-grey-200);
}