.page {
    flex: 1;
    min-height: 100%;
    position: relative;
    display: grid;
    grid-template-areas: 'filters' 'table' 'footer';
    grid-template-rows: max-content auto max-content;
}

.title {
    margin-bottom: var(--a-spacing-6);
}

.tableContainer {
    grid-area: table;
    max-height: 100%;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.table {
    overflow: scroll;
}

.table thead tr {
    background: var(--a-bg-default);
    position: sticky;
    top: 0;
}

.footer {
    grid-area: footer;
    background: var(--a-bg-default);
    padding: var(--a-spacing-4);
    display: grid;
    grid-template-areas: "antallTasksInput pagination .";
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: var(--a-spacing-4);
    border-top: 1px solid var(--a-border-default);
}

@media (max-width: 767px) {
    .footer {
        padding: var(--a-spacing-3) 0 0;
        gap: var(--a-spacing-2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.antallTasksContainer {
    grid-area: antallTasksInput;
    display: flex;
    gap: var(--a-spacing-2);
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.antallTasksInput {
    height: max-content;
    width: calc(4ch + var(--a-spacing-1) * 2);
    min-width: calc(4ch + var(--a-spacing-1) * 2);
}

.antallTasksInput label {
    display: none;
}

.pagination {
    grid-area: pagination;
    display: flex;
    justify-content: center;
}

.alert {
    height: max-content;
}