.page {
    flex: 1;
    min-height: 100%;
    position: relative;
    display: grid;
    grid-template-areas: 'filters' 'table' 'footer';
    grid-template-rows: max-content auto max-content;
    padding: 1rem;
}

.tableContainer {
    grid-area: table;
    max-height: 100%;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.table {
    overflow: scroll;
}

.table thead tr {
    background: var(--a-bg-default);
    position: sticky;
    top: 0;
}

.alert {
    height: max-content;
}