.melding {
  font-size: var(--a-font-size-small);
}

.modal {
  margin: auto;
}

.button {
  display: block;
  max-width: 400px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}