.filtere {
  grid-area: filters;
}

.refresher {
  grid-area: refresher;
}

.refetch > * {
  display: flex;
  align-items: center;
  gap: var(--a-spacing-3);
}

.tasks {
  grid-area: table;
}

.footer {
  grid-area: footer;
}