.content {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-6);
}

.grid {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  gap: var(--a-spacing-4);
  align-items: center;
}